<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Message Board</h1>
    <a href="/new">Add New Message</a>
    <ul>
      <% messages.forEach((message, index) => { %>
      <li>
        <strong><%= message.user %>:</strong>
        <%= message.text %> <br />
        <small><%= message.added.toLocaleString() %></small> <br />
        <a href="/message/<%= index %>">Open</a>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
